{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    "@babel/preset-flow",
    [
      "env",
      {
        "targets": {
          "chrome": 60
        }
      }
    ]
  ]
}